<settings>
    <servers>
        <server>
            <id>gitea</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>token 7ac947440f7c0b240d5b5c0c1e2c214b6f4be42b</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
</settings>